Repository Battery-Intelligence-Lab/galvanalyser, pull requests merged in 2023-02, with the labels that each got.

#50 Bugfixes
  .github/workflows/unit-test.yml
  docker-compose.test.yml
  docker-compose.yml
  frontend/src/APIConnection.ts
  frontend/src/Login.tsx
Labels: bug, v2.0.0, frontend

#51 MR-dev-env
  .gitignore
  backend/backend_django/config/settings.py
  backend/server.sh
  harvester/harvester/settings.py
  harvester/test/test_harvester.py
Labels: enhancement, backend

#52 User management
  backend/backend_django/config/settings.py
  backend/backend_django/config/urls.py
  backend/backend_django/galvanalyser/migrations/0001_initial.py
  backend/backend_django/galvanalyser/models.py
  backend/backend_django/galvanalyser/serializers.py
  backend/backend_django/galvanalyser/tests/test_api_tokens.py
  backend/backend_django/galvanalyser/views.py
  backend/db.sqlite3
  frontend/src/APIConnection.ts
  frontend/src/Core.tsx
  frontend/src/DatasetChart.tsx
  frontend/src/Login.tsx
  frontend/src/Tokens.tsx
  frontend/src/UserProfile.tsx
Labels: v2.0.0, frontend, backend
